// edit per project
.btn {
  @include caps--s;
  display: inline-block;
  position: relative;
  padding: 7pxv 25pxv 6pxv;
  line-height: 140%;
  font-family: $base-font;
  font-weight: 600;
  color: $dark-grey;
  text-align: center;
  background-color: $sunrise;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-transform: none;
  user-select: none;

  outline: none;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  overflow: hidden;

  z-index: 1;
  cursor: pointer;
  vertical-align: middle;
  transition: all 800ms $easing;

  &:hover {
    background-color: $dark-grey;
    color: $sunrise;
  }
}
