.SecHighlightAnim {
  margin-bottom: 140pxv;

  @include bb {
    margin-bottom: 70pxv;
  }

  .heading-wrap {
    text-align: center;
  }

  h2 {
    margin-bottom: 12pxv;
  }

  p {
    --fontSize: 16;

    @media (min-width: #{$tm}px) {
      --fontSize: 20;
    }
  }
  
  .cols-wrap {
    gap: 70pxv;
    max-width: 880pxv;
    margin: 50pxv auto 0;

    @include bb {
      gap: 0;
    }
  }

  .col-l {
    @include baa {
      flex: 1;
    }

    @include bb {
      width: 60pxv;
      margin-right: 30pxv;
    }
  }

  .col-r {
    @include baa {
      width: 600pxv;
    }

    @include bb {
      flex: 1;
    }
  }

  .icon-wrap {
    width: 63pxv;
    margin-bottom: 16pxv;

    @include bb {
      width: 54pxv;
    }
  }

  .subsec {
    &:not(:last-of-type) {
      margin-bottom: 85pxv;

      @include bb {
        margin-bottom: 60pxv;
      }
    }

    small {
      margin-bottom: 20pxv;

      @include bb {
        margin-bottom: 10pxv;
      }
    }

    h3 {
      margin-bottom: 14pxv;

      @include bb {
        @include heading--xs;
      }
    }

    p {
      @include body--m;
    }
  }

  .SecHighlightAnim--trigger-section svg {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: auto;
   height: 100%;
  }


  #SecHighlightAnim--target {
    width: auto;
    height: 50pxv;
    position: relative;
    z-index: 2;

    
  }

  #SecHighlightAnim--target-mobile {
    @include bb {
      max-width: 128pxv;
      width: 128pxv;
      height: 40pxv;
      z-index: 10;
      position: relative;
    }
  }

  #SecHighlightAnim--mainPath {
    fill: none;
    stroke-miterlimit: 10;
  }
}