footer {
  padding: 62pxv 0;
  background: $black;
  max-width: 1600pxv;
  margin: 0 auto;
  position: relative;

  @include bb {
    padding: 50pxv 0;
  }

  .col-left {
  
    @include bb {
      width: 100%;
    }
  }


  .logo {
    background-color: $white;
    display: inline-block;
    margin-bottom: 20pxv;

    @include bb {
      margin-bottom: 0;
    }


    span {
      padding: 9pxv 15pxv;
      color: $black;
      font-weight: 700;
      display: inline-block;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25pxv;
  }

  .col-center {
    width: 55pxv;
    height: 55pxv;

    @include bb {
      display: none;
    }

    a {
      background-color: rgba(255,255,255, 0.15);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: 0.35s;


      &:hover {
        transform: scale(1.2);
      }

      svg {
        with: 25pxv;
        height: 25pxv;
      }
    }
  }

  p {
    color: $white;
  }

  .right-col {

    @include bb {
      width: 100%;
      margin-top: 35pxv;
    }

    p {
      margin-bottom: 0;
    }
  }


  .note {
    --fontSize: 13;
    opacity: 0.65;
    font-weight: 500;
  }

}
