// Colors by name
$white: #fff;
$black: #000;
$globalPcolor: #4E4E50;
$green: #105F74;
$red: #ff0000;

$sunrise: #FFAD5F;
$sunset: #244B5A;
$dark-grey: #333334;
$sea: #007481;
$surf: #62CBC9;
$surf-light: #F0F8F9;
$sky: #B6DCE1;


// General
$light-blue: #E7EFF1;
$orange: #EF8E73;


// Buttons
$black1: #00384D;
$BtnBg: #D7EEEB;


// Borders
$border: #EEEEEE;
$border1: #B7CFD5;
