
// Colors by name
$white: #fff;
$off-white: #E5E5E5;
$black: #000;
$black2: #120202;

$gray: #f2f2f2;
$coal: #4A4A4A;
$text-gray: $coal;
$text-gray-light: #A4A1AB;

$border: #EEEEEE;


$purple: #6A24FF;
$purple-dark: #20045B;
$purple-light: #CE6DFF;
$purple-lighter: #F4F1FA;
$magenta: #B21AFF;
$mint: #06EEB6;
$green: #1CC239;
$green-dark: #0EA228;
$teal: #009C76;
$blue: #2454FF;
$blue-light: #00B2FF;
$orange: #FEA802;
$red: #F91C6B;
$pink: #F5F0FF;
