footer {
  position: relative;
  padding: 4rem 8rem 6rem;
  min-height: 38.7rem;

  @include media('<tablet') {
      padding: 60px 0;
      min-height: initial;
  }

  h2 {
    font-size: 3.8rem !important;
    color: $white !important;
    text-align: left !important;
    margin-bottom: 35px !important;
    text-transform: inherit !important;
    font-family: $base-font;

    @include media('<tablet') {
      font-size: 32px !important;
      margin-top: 45px;
    }
  }

  .footer-logo {
    width: 16.1rem;

    @include media('<tablet') {
      width: 130px;
    }
  }

  .footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    color: $white;
  }

  .social-wrap {
    display: flex;
    justify-content: space-between;
    display: none;

    @include media('<tablet') {
      justify-content: flex-start;
      margin: 30px 0;
    }

    a {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      background-color: #9F7D6A;
      position: relative;
      display: block;

      @include media('<tablet') {
        margin-right: 15px;
        width: 40px;
        height: 40px;
      }

      &:hover {
        background-color: $white;
        svg {
          path {
            fill: #9F7D6A;
          }
        }
      }

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }

  .col-l {
    width: 20rem;

    @include media('<tablet') {
      width: 100%;
    }

    .copy-wrap {
      margin: 3rem 0;

      @include media('<tablet') {
        margin: 30px 0;
      }
    }

    p {
      font-size: 1.4rem;
      text-align: center;
      line-height: 132.667%;

      @include media('<tablet') {
        font-size: 16px;
        text-align: left;
      }
    }
  }

  .col-r {
    width: calc(100% - 20rem );
    padding-left: 8%;
    position: relative;

    @include media('<tablet') {
      width: 100%;
      padding-left: 0;
    }

    .paperplane {
      position: absolute;
      bottom: -3rem;
      right: 0;
      width: 54rem;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h3 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 132.667%;
      color: $white;
      text-transform: uppercase;
      margin-bottom: 2.5rem;

      @include media('<tablet') {
        font-size: 18px;
      }
    }

    p {
      margin: 0;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 1.5rem;

      @include media('<tablet') {
        font-size: 16px;
      }
    }

    a {
      display: block;
      font-size: 2rem;
      font-weight: 600;
      line-height: 132.667%;
      color: $white;
      margin-bottom: 3rem;
      text-transform: uppercase;

      @include media('<tablet') {
        font-size: 18px;
      }
    }

    .col {
      width: 40%;

      @include media('<tablet') {
        width: 100%;
      }
    }
  }
}
