.form--sec {
  margin: 5rem 0 10rem;
  padding-top: 5rem;

  @include media('<tablet') {
    margin: 40px 0 80px;
    padding-top: 30px;
  }

  .contact-us--form {
    border: 1px solid #120202;
    max-width: 1056px;
    margin: 0 auto;
    padding: 8%;
    padding-top: 7%;
    padding-bottom: 5%;
    border-radius: 1rem;

    @include media('<tablet') {
      padding-bottom: 40px;
      padding-top: 30px;
    }

    input, textarea {
      width: 100%;
      padding: 1rem 2rem;
    }

    ::-ms-input-placeholder { /* Edge 12-18 */
      color: rgba(18, 2, 2, 0.50);
    }

    ::placeholder {
      color: rgba(18, 2, 2, 0.50);
    }

    input {
      border: 1px solid #120202;
    }

    input[type="submit"] {
      background-color: #F8A475;
      border: none;
      color: $white;
      font-size: 2.2rem;
      font-weight: 600;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      cursor: pointer;

      &:hover {
        background-color: #FE8718;
      }
    }

    textarea {
      margin-bottom: 3rem;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2rem;


      .half {
        width: calc(50% - 1rem);

        &.invalid {
          input {
            border-color: #DC143C;
          }
        }
      }
    }


  }
}
