header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  background-color: $white;
  z-index: 888;
  padding: 1rem 5%;

  @include media('<=tablet') {
    display: block;
  }

  &.headroom--not-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

  }

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }

  &.headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }

  .logo-wrap {
    width: 9rem;
    position: relative;

    img {
      max-width: 9.8rem;


      @include media('<=tablet') {
        width: 65px;
      }
    }

    @include media('<=tablet') {
      width: 100%;
    }
  }

  &.is-active {
    height: 100vh;
    align-items: flex-start;
    width: 100%;

    @include media('<=tablet') {
      nav {
        display: block;

        a {
          color: $black;
        }
      }

      .btn-wrap {
        display: flex;
        padding-left: 0;
        width: 100%;
        justify-content: flex-start;
        padding: 0 5%;
      }
    }

  }

  nav {
    display: flex;
    width: calc(100% - 40rem);
    padding-left: 3rem;

    @include media('<=tablet') {
      display: none;
      border-top: 0.1rem solid $black;
      margin-top: 20px;
      padding: 8rem 5% 4rem;
      width: 100%;
    }

    a {
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-right: 4.5rem;
      color: #120202;

      &:hover {
        border-bottom: 0.1rem solid #120202;
      }

      @include media('>1600px') {
        font-size: 22px;
        margin-right: 45px;
      }

      @include media('<=tablet') {
        display: block;
        margin-bottom: 2.5rem;
        color: $white;
      }
    }
  }

  .btn-wrap {
    width: 30rem;
    display: flex;
    justify-content: flex-end;

    @include media('<=tablet') {
      display: none;
      padding-left: 5%;
    }

    .btn {
      background-color: #F8A475;
      color: $white;
      font-size: 2rem;
      font-weight: bold;
      border-radius: 1rem;
      padding: 1rem;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      min-width: 11.9rem;
      text-align: center;

      @include media('>1600px') {
        font-size: 22px;
      }

      @include media('<=tablet') {
        min-width: 100px;
        display: inline-block;

      }

      &:hover {
        background-color: #FE8718;
      }

      &:not(:last-child) {
        margin-right: 4.5rem;
        @include media('<=tablet') {
          margin-right: 20px;
        }
      }
    }
  }
}


.hamburger {
  position: absolute;
  right: 7px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;

  @include media('<=tablet') {
    span {
      position: relative;
      display: block;
      height: 2px;
      width: 20px;
      background-color: $black;
      transition: all 250ms ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: $black;
        transition: all 250ms ease;
      }

      &::before {
        top: -5px;
      }

      &::after {
        bottom: -5px;
      }
    }

    &.is-active {

      span {
        height: 0;

        &::before {
          transform: rotate(45deg);
          top: -1px;
          background-color: $black;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: -1px;
          background-color: $black;
        }
      }
    }
  }



  @include media(">tablet") {
    opacity: 0;
    visibility: visible;
    pointer-events: none;
  }
}
