.error--sec {
  position: relative;
  min-height: 700pxv;

  @include bb {
    min-height: 515pxv;
  }

  .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    color: #244B5A;
    margin-bottom: 26pxv;

    @include bb {
      margin-bottom: 15pxv;
    }
  }

  .content {
    position: absolute;
    text-align: center;
    max-width: 780pxv;
    margin: 0 auto;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;

    @include baa {
      top: 150pxv;
    }

    @include bb {
      max-width: 100%;
      padding: 0 5%;
      top: 55pxv;
    }
  }

  p {
    max-width: 627pxv;
    margin-left: auto;
    margin-right: auto;
    color: #333334;

    @include bb {
      @include body--m;
    }

    a {
      font-weight: bold;
      color: #333334;
      text-decoration: underline;
    }

    br {
      @media (max-width: #{$tm}px) {
        display: none;
      }
    }
  }

  .btn-wrap {
    margin-top: 30pxv;

    @include bb {
      margin-top: 25pxv;
    }
  }

}
