body.page-home {
  .QuoteBlockSlider {
    margin-bottom: 100pxv;
  }

  .home--hero {
    padding: 85pxv 0;

    @include bb {
      padding: 65pxv 0 15pxv;
    }

    h1 {
      font-size: 32pxv;
      color: $black;
      font-weight: 500;


      @include bb {
        font-size: 28pxv;
      }
    }
  }

  .our--works {
    h2 {
      font-size: 38pxv;
      color: $black;

      @include bb {
        font-size: 32pxv;
      }
    }
  }
}

.our--works {
    margin: 65pxv 0;

    @include bb {
      margin: 45pxv 0;
    }

  .projects-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 65pxv;

    @include bb {
      margin-top: 40pxv;
    }
  }

  .project {
    position: relative;
    display: block;
    width: 100%;
    transition: 0.35s;

    &:not(:last-child)  {
      margin-bottom: 45pxv;

      @include bb {
        margin-bottom: 25pxv;
      }
    }

    &.yellow {
      span {
        &:after {
          background-color: #FFF3C3;
        }
      }
    }

    &.dark-bg {
      &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          z-index: 0;
          background: linear-gradient(11deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 65%);
        }
      .text-wrap {
        z-index: 1;
      }
    }

    &:hover {
      span {
        &:after {
          content: '';
        }
      }

      .text-wrap {
        left: 11%;
        svg {
          opacity: 1;
          visbility: visible;
        }
      }
    }

    &:before {
      content: '';
      height: 0;
      display: block;
      padding-top: 52%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }

    .text-wrap {
      position: absolute;
      bottom: 10%;
      left: 7%;
      display: flex;
      align-items: center;
      width: 100%;
      transition: 0.35s;

      svg {
        width: 45pxv;
        height: auto !important;
        margin-left: 19pxv;
        margin-top: 4pxv;
        opacity: 0;
        visbility: hidden;
        transition: 0.35s;
      }
    }

    span {
      color: $white;
      --fontSize: 38;
      font-weight: 500;
      position: relative;
      transition: 0.35s;

      @include bb {
        font-size: 25pxv;
      }

      &::after {
        position: absolute;
        left: -24pxv;
        top: 0;
        background-color: #F38B30;
        width: 5pxv;
        height: 100%;
        z-index: 1;
      }
      
    }
  }
}

.home-form--block {
  padding: 45pxv 0 100pxv;

  @include bb {
    padding: 35pxv 0 80pxv;
  }
  
  h2 {
    color: $black;
    margin-bottom: 45pxv;
    font-size: 38pxv;

    @include bb {
      font-size: 32pxv;
      margin-bottom: 30pxv;
    }
  }

  p {
    color: $black;
  }

  .form-block {
    max-width: 800pxv;
    margin: 0 auto;
  }


  .contact-us--form {
    margin-top: 50pxv;

    input, textarea {
      width: 100%;
      border: 1pxv solid #dddddd;
      padding: 11pxv 15pxv;
      font-size: 16pxv;

      &:selection {
        border: 1pxv solid $black;
      }

      &:focus {
        border: 1pxv solid $black;
        outline: 1pxv solid $black;
      }
    }

    input[type="submit"] {
      margin-top: 15pxv;
      background-color: $black;
      color: $white;
      border: 1pxv solid $black;
      cursor: pointer;
      transition: 0.35s;
      font-weight: bold;

      &:hover {
        color: $black;
        background-color: $white;
      }
    }


    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 10pxv;

      .half {
        width: calc( 50% - 5pxv);
      }
    }
  }
}