.rental-lander--main {
	background: linear-gradient(159.43deg, rgba(240, 246, 254, 0.1) 22.55%, rgba(1, 56, 122, 0.1) 41.23%);

	h1 {
		color: $black;
		font-size: 60pxv;
		text-align: center;

	}

	.title {
		padding-top: 240pxv;
		margin-bottom: 100px;

		@include bb {
			padding-top: 140pxv;
			margin-bottom: 70pxv;
		}
	}

	.rental-grid {
		margin-top: 180pxv;
		padding-bottom: 50pxv;
		display: flex;
		flex-wrap: wrap;

		@include bb {
			margin-top: 100pxv;
		}
	}

	.card {
		color: $black;
		width: calc(100% / 3 - 43.5pxv);
		margin-right: 65pxv;
		margin-bottom: 85pxv;
		border: 1pxv solid $border2;
		padding-bottom: 45pxv;
		background-color: $white;
		transition: 0.35s;

		@include bb {
			width: 100%;
			margin-right: 0;
			margin-bottom: 65pxv;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:hover {
			box-shadow: 0px 15px 30px 3px #00000040;
		}

		figure {
			position: relative;

			&:before {
				content: '';
				height: 0;
				display: block;
				padding-top: 71%;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}


		h3 {
			font-size: 23pxv;
			font-weight: bold;
			margin-bottom: 5pxv;
		}

		p {
			font-size: 23pxv;
			line-height: 150%;
		}

		article {
			padding: 30pxv 30pxv 0;
		}

		.btn {
			color: $white;
			background: $dark-blue;
			width: 100%;
			border-radius: 0;
			padding: 15pxv 35pxv;
			font-size: 20pxv;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			margin-top: 10pxv;
		}
	}
}

