.page-room-detail {
	.rental-details--hero:before {
		padding-top: 26%;
	}
}


.room-detail--main {
	.title {
		padding-top: 45pxv;

		
	}

	.back-link-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-top: 45pxv;
		padding-top: 150pxv;

		@include bb {
			padding-top: 100pxv;
		}

		&:hover {
			svg {
				transform: translateX(-3pxv);
			}
		}

		svg {
			width: 15pxv;
			height: auto;
			transition: 0.35s;
		}

		p {
			font-size: 14pxv;
			color: $black;
			font-weight: 600;
			margin-left: 7pxv;
		}
	}

	h1 {
		font-size: 60pxv;
		color: $black;

		@include bb {
			font-size: 45pxv;
		}
	}

	.room-grid {
		margin-top: 65pxv;
		padding-bottom: 150pxv;

		@include bb {
			margin-top: 45pxv;
			padding-bottom: 110pxv;
		}

		.row {
			&:not(:last-child) {
				margin-bottom: 50pxv;

				@include bb {
					margin-bottom: 30pxv;
				}
			}
		}

		.two-cols {
			display: flex;
			justify-content: space-between;

			img {
				width: calc(50% - 25pxv);

				@include bb {
					width: calc(50% - 15pxv);
				}
			}
		}
	}
}