.page-index {
  h2 {
    font-size: 4.8rem;
    color: rgba(85, 34, 0, 0.50);
    font-weight: 700;
    text-align: center;
    margin-bottom: 5rem;
    text-transform: uppercase;

    @include media('<tablet') {
      font-size: 33px;
      margin-bottom: 35px;
    }
  }
}

.home-hero {
  position: relative;
  height: 72.8rem;
  display: flex;
  align-items: center;

  @include media('<tablet') {
    height: auto;
    padding: 50px 0;
  }

  .container {
    margin: 0;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  article {
    position: relative;
    max-width: 64.4rem;
    padding-top: 12rem;

    @include media('<tablet') {
      max-width: 100%;
      padding-top: 100px;
    }

    h1 {

      font-size: 5.5rem;
      color:#FFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 2rem;

      @include media('<tablet') {
        font-size: 22px;
      }
    }
    p {
      font-size: 2.8rem;
      color:#FFF;
      max-width: 52rem;

      @include media('<tablet') {
        font-size: 12px;
        max-width: 100%;
      }
    }

  }



}

.about-us {
  padding: 100px 0;
  background: rgba(245,248,235,0.5);


  h3 {
      font-size: 3rem;
      color: #120202;
      font-weight: 700;
      margin-bottom: 3rem;
    }
    p {
      font-size: 2rem;
      color: #120202;
      font-weight: 400;
      margin-bottom: 3rem;
      max-width: 46.1rem;
      padding-right: 8.8rem;
    }
    .img1 {

      position: relative;
      top: 3rem;
      margin-top: 5rem;
      index: 3;
      max-width: 43.5rem;

    }

    #box1 {

      height: 38rem;
      width: 40rem;
      background: linear-gradient(180deg, rgba(217, 217, 217, 0.90) 0%, rgba(217, 217, 217, 0.00) 100%);

      position: absolute;

      top: 11.5rem;
      left: -4rem;

    }

    #box2 {

      height: 19.7rem;
      width: 19.7rem;
      background: #FCF2EA;

      position: absolute;

      top: 3.5rem;
      left: 0rem;
      opacity: 0.7;

    }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 89.5rem;
    margin: 10rem auto 0;

  }
  .col {
    width: 50%;
    position: relative;

    &.right {
      padding-left: 5rem;
    }

  }

  h3 {
      font-size: 3rem;
      color: #120202;
      font-weight: 700;
      margin-bottom: 3rem;
    }

   li {
      font-size: 2rem;
      color: #120202;
      font-weight: 400;
      margin-bottom: 3rem;
    }

    .img2 {
      // padding-right: 8.8rem;
      position: relative;
    }

    #box {
      border: 0rem;
      height: 23rem;
      width: 40rem;
      background-color: rgba(230,242,251,1);

      position: absolute;

      top: 12.5rem;
      left: -8rem;


    }

  .col {
    width: 50%;

    &.right-col {
      padding-left: 8rem;
    }

  }

}



.meet-out-founders {
  padding: 10rem 0 0;
  margin-bottom: 5rem;

  @include media('<tablet') {
    padding-top: 80px;
    margin-bottom: 40px;

  }

  .inner-wrap {
    max-width: 84.5rem;
    margin: 0 auto;
  }

  p {
    font-size: 2rem;
    color: $black2;
    line-height: 1.5;
    margin-bottom: 3rem;

    @include media('<tablet') {
      font-size: 18px;
      margin-bottom: 25px;
    }

    a {
      color: $black2;
      text-decoration: underline;
    }

    &.contact {
      text-align: center;
    }
  }

  img {
    max-width: 50.2rem;
    margin: 0 auto;
    display: block;
    margin-top: 4.5rem;
    margin-bottom: 3rem;

    @include media('<tablet') {
      max-width: 100%;
      margin-top: 40px;
      margin-bottom: 25px;
    }
  }
}

.our-projects{
  padding: 10rem 0 0;
  margin-bottom: 13rem;

  .inner-wrap {
    max-width: 101.8rem;
    margin: 0 auto;
  }

  h3 {
    font-size: 2.4rem;
    color: #120202;
    font-weight: 700;
    margin-bottom: 2.5rem;
    text-align: center;
    line-height: 5rem;
    }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // max-width: 89.5rem;
    margin: 10rem auto 0;

    &.second {
      margin-top: 16rem;
      position: relative;
    }

    .line {
      width: 0.1rem;
      height: 85rem;
      background-color: #907245;
      margin-top: 6rem;
      position: absolute;
      left:0;
      right:0;
      margin:0 auto;
      opacity: 0.5;
    }

    .col {
      width:50%;

      &.left{
        padding-right: 6rem;
      }

      &.right {
        padding-left: 6rem;
      }

        .img3 {
          position: relative;
          z-index: 3;
          max-width: 43.5rem;
          margin-top: -2.8rem;
          // margin-left: -6.5rem;
        }

        h3{
          font-size: 2.4rem;
          color: #120202;
          font-weight: 700;
          margin-top:7rem;
          margin-bottom: 2.5rem;
          text-align: center;
        }

        h4{
          font-size: 2.4rem;
          color: #120202;
          font-weight: 700;
          margin-top:-2rem;
          margin-bottom: 5.5rem;
          text-align: center;
          // margin-left:-9.5rem;
        }

        p {
          font-size: 2rem;
          color: #120202;
          margin-top:4rem;
          margin-bottom: -1.5rem;
          line-height: 1.5;
        }

        .top-copy {
          margin-bottom: 5rem;

          p {
            font-weight: 600;
          }
        }

        // h5{
        //   color: rgba(246, 199, 167, 0.15);
        //   font-size: 68px;
        //   font-style: normal;
        //   font-weight: 700;
        //   line-height: normal;
        //   margin-top: -13rem;
        //   margin-bottom: 1rem;
        //   margin-left: -4rem;
        //   z-index: 3;
        //   text-transform: inherit;
        //   position: relative;
        //   mix-blend-mode: multiply;
        // }

        #box4 {
          height: 19.8rem;
          width: 19.8rem;
          background: linear-gradient(223deg, rgba(252, 242, 234, 0.70) 9.27%, rgba(252, 242, 234, 0.00) 96.93%);
          top: 11.5rem;
          margin-left: 30rem;
        }

        .img7 {
          position: relative;
          max-width: 77rem;
          margin-top: -25rem;
          margin-left: -22.5rem;
          z-index:-2;
        }

        .img4 {
          position: relative;
          max-width: 43.5rem;
          margin-top: -20rem;
          // margin-left: 4.5rem;
        }

        .img5 {
          position: relative;
          max-width: 43.5rem;
          margin-top: -3.5rem;
          // margin-left: -6.5rem;
        }

        #box5 {
          // border: 0rem;
          height: 82rem;
          // width: 70rem;
          // margin-top:-65rem;
          // margin-left: 2rem;
          transform: rotate(-90.217deg);
          // position: relative;
          z-index: -1;
          background: linear-gradient(120deg, #FCF2EA -0.25%, rgba(252, 242, 234, 0.00) 35.26%);
          position: absolute;
          bottom: 3rem;
          left: -14rem;
          width: 100%;
        }

        .img6 {
          position: relative;
          // max-width: 46.5rem;
          margin-top: -10rem;
          // margin-left: 4.5rem;
        }

        .boxes-wrap {
          display: flex;
          justify-content: flex-end;
        }

        #box6{
          position: relative;
          width:34rem;
          height:33rem;
          // margin-left:20rem;
          transform: rotate(-90.217deg);
          margin-top: 0;
          z-index: -1;
          background: linear-gradient(141deg, #FCF2EA 5.33%, rgba(252, 242, 234, 0.00) 88.24%);
        }

        #box7{
          position:absolute;
          left:-2.3rem;
          bottom:19.5rem;
          width: 23.5rem;
          height: 14.3rem;
          stroke:#F7EEE9;
          stroke-width:0.7rem;
          transform: rotate(-90.217deg);
          margin-top:1rem;
        }

        #box8{
          position:absolute;
          left:-3rem;
          bottom: 15rem;
          width:45.5rem;
          height: 14.3rem;
          stroke:#F7EEE9;
          stroke-width:0.7rem;
          transform: rotate(-90.217deg);
          margin-top:1rem;
        }

    }
  }
}


.donate--sec {
  margin: 5rem 0 6rem;
  padding-top: 10rem;
  padding-bottom: 5rem;

  @include media('<tablet') {
    margin: 40px 0 70px;
    padding-bottom: 0px;
    padding-top: 40px;
  }

  .inner-wrap {
    max-width: 1038px;
    margin: 0 auto;

    @include media('<tablet') {
      max-width: 100%;
    }
  }

  h2 {
    margin-bottom: 4rem;

    @include media('<tablet') {
      margin-bottom: 30px;
    }
  }

  h3 {
    font-size: 2.4rem;
    color: $black2;
    line-height: 1.5;
    text-align: center;
    margin-top: 3rem;

    @include media('<tablet') {
      font-size: 22px;
      margin-top: 25px;
    }
  }

  .btn-wrap {
    text-align: center;
    margin-top: 8rem;

    @include media('<tablet') {
      margin-top: 40px;
    }
  }

  .btn {
    border-radius: 6.661px;
    padding: 2.2rem 4.5rem;
    color: $white;
    background-color: #F8A475;
    font-size: 3rem;
    min-width: 63.7rem;
    font-family: $header-font;
    font-weight: 700;

    &:hover {
      background-color: #FE8718;
    }

    @include media('<tablet') {
      min-width: initial;
      font-size: 26px;
      padding: 20px 35px;
      width: 100%;
      text-align: center;
      display: block;
    }


    @include media('<mobile-l') {
      font-size: 18px;
      padding: 20px;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 89.5rem;
    margin: 12rem auto 0;

    @include media('<tablet') {
      margin-top: 60px;
    }

    h3 {
      font-size: 3rem;
      color: #120202;
      font-weight: 700;
      margin-bottom: 3rem;

      @include media('<tablet') {
        font-size: 28px;
        margin-bottom: 20px;
      }
    }
  }

  .col {
    width: 50%;
    max-width: 43.2rem;

    @include media('<tablet') {
      width: 100%;
      max-width: initial;
    }

    p {
      color: $black2;
      font-size: 1.8rem;

      @include media('<tablet') {
        font-size: 18px;
        text-align: center;
      }

      a {
        color: $black2;
        text-decoration: underline;
      }
    }

    &:first-child {
      max-width: 34.8rem;

      @include media('<tablet') {
        padding-left: 0;
      }
    }

    .box {
      padding-left: 6rem;

      @include media('<tablet') {
        padding-left: 0;
      }
    }
  }
}
